<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
        bootstrap="./tests/TestHelper.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true">

    <testsuites>
        <testsuite name="app">
            <directory>./tests/app</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>./tests/e2e</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory>./app/proxies</directory>
                <directory>./app/config</directory>
                <directory>./app/admin</directory>
                <directory>./app/api</directory>
                <file>./app/console.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="API_DEBUG" value="false"/>
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>
